h2 {
  background-color: #6D676E;
}

h1, h3, h4, h5, h6 {
  color: #FAA916;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

.home-paragraph-3 {
  text-align: center;
}

body {
  background-color: #DDBEA9;
}